---
const { filmId } = Astro.params;

export function getStaticPaths() {
	return [
		{ params: { filmId: 375112280 } },
		{ params: { filmId: 332080277 } },
		{ params: { filmId: 396533572 } },
		{ params: { filmId: 422103474 } },
	];
}

import { Vimeo } from "@astro-community/astro-embed-vimeo";
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/plus-jakarta-sans";
---

<Layout title="About">
	<main>
		<div class="header-group">
			<h1><a href="/" class="header-link">Theory of Great</a></h1>
			<h4><a href="/about" class="header-link">About</a></h4>
		</div>
		<div style="padding:50.55% 0 0 0;position:relative;">
			<iframe
				src=`https://player.vimeo.com/video/${filmId}?badge=0&autopause=0&player_id=0&app_id=58479`
				frameborder="0"
				allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				style="position:absolute;top:0;left:0;width:100%;height:100%;"
				title="Compete"></iframe>
		</div><script src="https://player.vimeo.com/api/player.js"></script>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-family: "Plus Jakarta Sans Variable", sans-serif;
	}
	.content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		line-height: 1.75em;
		text-align: justify;
		position: relative;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		padding-right: 10px; /* Adds some space between the elements */
	}
	.header-group {
		display: flex;
		justify-content: space-between; /* Aligns one item to the left, the other to the right */
		align-items: flex-end; /* Aligns vertically if needed */
	}
	.header-link {
		color: inherit;
		text-decoration: none;
	}
</style>
